<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.data</string>
				<string>public.text</string>
				<string>public.plain-text</string>
				<string>public.utf8-plain-text</string>
				<string>public.utf16-external-plain-​text</string>
				<string>public.utf16-plain-text</string>
				<string>com.apple.traditional-mac-​plain-text</string>
				<string>public.rtf</string>
				<string>com.apple.ink.inktext</string>
				<string>public.html</string>
				<string>public.xml</string>
				<string>public.source-code</string>
				<string>public.c-source</string>
				<string>public.objective-c-source</string>
				<string>public.c-plus-plus-source</string>
				<string>public.objective-c-plus-​plus-source</string>
				<string>public.c-header</string>
				<string>public.c-plus-plus-header</string>
				<string>com.sun.java-source</string>
				<string>public.script</string>
				<string>public.assembly-source</string>
				<string>com.apple.rez-source</string>
				<string>public.mig-source</string>
				<string>com.apple.symbol-export</string>
				<string>com.netscape.javascript-​source</string>
				<string>public.shell-script</string>
				<string>public.csh-script</string>
				<string>public.perl-script</string>
				<string>public.python-script</string>
				<string>public.ruby-script</string>
				<string>public.php-script</string>
				<string>com.sun.java-web-start</string>
				<string>com.apple.applescript.text</string>
				<string>com.apple.applescript.​script</string>
				<string>com.apple.property-list</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>org.n8gray.qlcolorcode</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleVersion</key>
	<string>${CURRENT_PROJECT_VERSION}</string>
	<key>CFBundleShortVersionString</key>
	<string>${CURRENT_PROJECT_VERSION}</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>C044543D-70A1-46D8-A908-4B8AEA1197A4</key>
		<string>QuickLookGeneratorPluginFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>5E2D9680-5022-40FA-B806-43349622E5B9</key>
		<array>
			<string>C044543D-70A1-46D8-A908-4B8AEA1197A4</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
	<key>QLSupportsConcurrentRequests</key>
	<false/>
	<key>QLNeedsToBeRunInMainThread</key>
	<true/>
	<key>QLThumbnailMinimumSize</key>
	<real>32</real>
	<key>QLPreviewWidth</key>
	<real>800</real>
	<key>QLPreviewHeight</key>
	<real>800</real>
</dict>
</plist>
